In [2]:
import pandas as pd

In [6]:
chars = pd.read_csv('../data/aggregated_attainment_by_characteristic_202125.csv')
region = pd.read_csv('../data/aggregated_attainment_by_region_characteristic_202125.csv')
timeseries = pd.read_csv('../data/aggregated_attainment_timeseries_201625.csv')

/var/folders/9m/nb6yjq5x3x99h8jlyqt_vjrh0000gn/T/ipykernel_63686/3824491356.py:2: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  region = pd.read_csv('../data/aggregated_attainment_by_region_characteristic_202125.csv')

In [7]:
timeseries.head()

,time_period,time_identifier,geographic_level,country_code,country_name,version,characteristic_type,characteristic_value,number_of_students_potential,number_of_students_level3,...,aps_per_entry_alev,aps_per_entry_grade_alev,aps_per_entry_acad,aps_per_entry_grade_acad,aps_per_entry_agen,aps_per_entry_grade_agen,aps_per_entry_tlev,aps_per_entry_grade_tlev,aps_per_entry_technicalcertificate,aps_per_entry_grade_technicalcertificate
0,201516,Academic year,National,E92000001,England,Revised,Disadvantage,Disadvantaged,x,x,...,x,x,x,x,x,x,x,x,x,x
1,201516,Academic year,National,E92000001,England,Revised,Disadvantage,Non-Disadvantaged,x,x,...,x,x,x,x,x,x,x,x,x,x
2,201516,Academic year,National,E92000001,England,Revised,Disadvantage,Unknown disadvantaged status,x,x,...,x,x,x,x,x,x,x,x,x,x
3,201516,Academic year,National,E92000001,England,Revised,All Students,All state-funded students,x,"401,222",...,30.44,C,30.63,C,34.66,Dist,30.76,Dist-,x,x
4,201516,Academic year,National,E92000001,England,Revised,All Students,All students,x,"440,455",...,31.79,C+,32.11,C+,34.69,Dist,30.77,Dist-,x,x